:root {
	--hub-blue: #2c7be5;
	--hub-indigo: #727cf5;
	--hub-purple: #6b5eae;
	--hub-pink: #ff679b;
	--hub-red: #e63757;
	--hub-orange: #fd7e14;
	--hub-yellow: #f5803e;
	--hub-green: #00d27a;
	--hub-teal: #02a8b5;
	--hub-cyan: #27bcfd;
	--hub-black: #000;
	--hub-white: #fff;
	--hub-gray: #748194;
	--hub-gray-dark: #4d5969;
	--hub-gray-black: #000;
	--hub-gray-100: #f9fafd;
	--hub-gray-200: #edf2f9;
	--hub-gray-300: #d8e2ef;
	--hub-gray-400: #b6c1d2;
	--hub-gray-500: #9da9bb;
	--hub-gray-600: #748194;
	--hub-gray-700: #5e6e82;
	--hub-gray-800: #4d5969;
	--hub-gray-900: #344050;
	--hub-gray-1000: #232e3c;
	--hub-gray-1100: #0b1727;
	--hub-gray-white: #fff;
	--hub-primary: #2c7be5;
	--hub-secondary: #748194;
	--hub-success: #00d27a;
	--hub-info: #27bcfd;
	--hub-warning: #f5803e;
	--hub-danger: #e63757;
	--hub-light: #f9fafd;
	--hub-dark: #0b1727;
	--hub-primary-rgb: 44, 123, 229;
	--hub-secondary-rgb: 116, 129, 148;
	--hub-success-rgb: 0, 210, 122;
	--hub-info-rgb: 39, 188, 253;
	--hub-warning-rgb: 245, 128, 62;
	--hub-danger-rgb: 230, 55, 87;
	--hub-light-rgb: 249, 250, 253;
	--hub-dark-rgb: 11, 23, 39;
	--hub-white-rgb: 255, 255, 255;
	--hub-black-rgb: 0, 0, 0;
	--hub-body-color-rgb: 94, 110, 130;
	--hub-body-bg-rgb: 237, 242, 249;
	--hub-font-sans-serif: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--hub-font-monospace: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--hub-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
	--hub-body-font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	--hub-body-font-size:1rem;
	--hub-body-font-weight: 400;
	--hub-body-line-height: 1.5;
	--hub-body-color: #5e6e82;
	--hub-body-bg: #edf2f9;
	--hub-border-width: 1px;
	--hub-border-style: solid;
	--hub-border-color: var(--hub-border-color);
	--hub-border-color-translucent: rgba(0, 0, 0, 0.175);
	--hub-border-radius: 0.25rem;
	--hub-border-radius-sm: 0.25rem;
	--hub-border-radius-lg: 0.375rem;
	--hub-border-radius-xl: 1rem;
	--hub-border-radius-2xl: 2rem;
	--hub-border-radius-pill: 50rem;
	--hub-link-color: #2c7be5;
	--hub-link-hover-color: #2362b7;
	--hub-code-color: #ff679b;
	--hub-highlight-bg: #fde6d8;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	color: var(--hub-body-color);
	background-color: var(--hub-body-bg);
	height: 100vh;
}

#root {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
}

#root > div {
	margin: .5rem;
	padding: 1rem;
}

#leftbar {
	height: calc(100vh - 1rem);
	background-color: var(--hub-white);
	border-radius: 1rem;
	box-shadow: 0 0 1rem var(--hub-gray-300);
}
#rightbar {
	padding: 0 !important;
	/* background-color: var(--hub-white);
	border-radius: 1rem;
	box-shadow: 0 0 1rem var(--hub-gray-300); */
}
#content {
	height: 100vh;
	padding: .5rem !important;
	margin: 0px !important;
	overflow-y: auto;
	scrollbar-width: none;
}

#content::-webkit-scrollbar {
	display: none;
}

#content > div {
	display: flex;
	align-items: center !important;
	flex-direction: column;
}

#rightbar > div {
	background-color: var(--hub-white);
	border-radius: 1rem;
	box-shadow: 0 0 1rem var(--hub-gray-300);
}
.navigate-item {
	display: flex;
	align-items: center;
	padding: 1rem;
	cursor: pointer;
	color: var(--hub-gray-900);
}
.navigate-item:hover {
	background-color: var(--hub-gray-100);
	border-radius: 1rem;
}
.navigate-item:active {
	background-color: var(--hub-gray-200);
}
.navigate-icon {
	width: 1.5rem;
	height: 1.5rem;
	margin-right: .5rem;
}

.hub-card {
	width: 100%;
	background-color: var(--hub-white);
	border-radius: 0.5rem;
	box-shadow: 0 0 1rem var(--hub-gray-300);
	padding: .75rem;
}

#searchbar {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;
	padding: .5rem 1.25rem;
	border-radius: 10rem !important;
	border: 1px solid transparent;
}
#searchbar:focus-within {
	border: 1px solid var(--hub-gray-300) !important;
}
#searchbar > #search-icon {
	width: 1.2rem;
	height: auto;
}
#searchbar > #search-result {
	position: absolute;
	height: 100px;
	top: 0px;
	left: 0px;
	right: 0px;
	overflow-y: auto;
	background-color: #02a8b5;
}
#searchbar > input {
	width: 100%;
	border: none;
	outline: none;
	padding: .5rem;
	border-radius: 10rem !important;
}

.add-post {
	margin-bottom: .5rem;
}
#add-post-text {
	width: 100%;
	outline: none;
	padding: .5rem;
	font-size: 1.2em;
	color: var(--hub-gray-900);
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: transparent;
	resize: vertical;
	overflow: hidden;
	min-height: calc(1.2em + .75rem + 2px);
	margin-bottom: .5rem;
}
#add-post-text:focus {
	border-color: var(--hub-gray-900);
}

.btn-add-image {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	background-color: transparent;
	border: none;
	padding: 20px;
}
.btn-add-image:hover {
	background-color: var(--hub-gray-100);
	border-radius: 20px;
}
.btn-add-image:active {
	background-color: var(--hub-gray-200);
}
.btn-add-image > img {
	width: 20px !important;
	height: 20px !important;
}

#add-post-items {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: .5rem;
}

.hub-btn {
	background-color: transparent;
	border: none;
	border-radius: .4rem;
	padding: .5rem;
	color: var(--hub-gray-900);
}
.hub-btn:hover {
	background-color: var(--hub-gray-100);
}
.hub-btn:active {
	background-color: var(--hub-gray-200);
}

#posts {
	display: flex !important;
	justify-content: center !important;
	flex-direction: column;
	width: 75%;
	gap: .75rem;
}
.post {
	display: flex !important;
	justify-content: center !important;
	flex-direction: column;
}
.post > .post-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: .5rem;
}

.post > .post-header > .post-header-user {
	display: flex;
	align-items: center;
	cursor: pointer;
	color: var(--hub-black);
}
.post > .post-header > .post-header-user > .post-header-user-avatar {
	width: 2rem !important;
	height: 2rem !important;
	border-radius: 100%;
	margin-right: .5rem;
}

.post > .post-header > .post-header-info {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.post > .post-content {
	display: flex;
	justify-content: center;
	margin-bottom: .5rem;
}
.post > .post-content > img {
	max-height: 20rem;
	width: auto;
}
.post > .post-footer > .post-icons > .post-icon {
	width: 2rem;
	height: 2rem;
	cursor: pointer;
}
.post > .post-footer > .post-user {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.post > .post-footer > .post-user > .post-user-username {
	color: var(--hub-black);
	cursor: pointer;
	text-decoration: none;
}

.profile {
	width: 100%;
	padding-left: 2rem;
	padding-right: 2rem;
}

.profile > .profile-header {
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile > .profile-header > .profile-header-info > .profile-header-info-header > .profile-header-info-header-username {
	font-size: 1.2em;
	color: var(--hub-gray-900);
}

.profile > .profile-header > .profile-header-user > .profile-header-user-avatar {
	width: 7rem !important;
	height: 7rem !important;
	border-radius: 100%;
	margin-right: 1.5rem;
}

.profile > .profile-header > .profile-header-info {
	width: 50%;
}

.profile > .profile-header > .profile-header-info > .profile-header-info-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.profile > .profile-header > .profile-header-info > .profile-header-info-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: .25rem;
}

.profile > .profile-header > .profile-header-info > .profile-header-info-content > .profile-header-info-content-item > *:not(.posts) {
	cursor: pointer;
}

.profile > .profile-header > .profile-header-info > .profile-header-info-footer {
	display: flex;
	flex-direction: column;
}

.profile > .profile-header > .profile-header-info > .profile-header-info-footer > .profile-header-info-footer-name {
	font-weight: bold;
	color: var(--hub-gray-900);
}

.profile > .profile-content > .posts {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.profile > .profile-content > .no-post {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.profile > .profile-content > .no-post > img {
	width: 6rem;
	height: 6rem;
}
.profile > .profile-content > .no-post > span {
	font-size: 1.2em;
}